<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="debug" debug="true">

	<appender name="ROOT" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${loggingRoot}/root.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}]-[%p] %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="SPRING" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${loggingRoot}/spring.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}]-[%p] %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="VELOCITY" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${loggingRoot}/veloctiy.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}]-[%p] %c - %m%n" />
		</layout>
	</appender>
	
	<logger name="org.springframework" additivity="false">
		<level value="${loggingLevel}" />
		<appender-ref ref="SPRING" />
	</logger>
	
	<logger name="org.apache.velocity" additivity="false">
		<level value="${loggingLevel}" />
		<appender-ref ref="VELOCITY" />
	</logger>
	
	<category name="velocity">
		<level value="${loggingLevel}" />
		<appender-ref ref="VELOCITY" />
	</category>

	<root>
		<level value="${loggingLevel}" />
		<appender-ref ref="ROOT" />
	</root>

</log4j:configuration>
