<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>登录</title>
</head>
<body>
	<form action="login_doLogin" method="post">
		$!token
		<table style="border: 1px; width: 70%">
			<tr>
				<td>用户名：</td>
				<td><input type="text" name="userName" value="$!{user.userName}"></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input type="password" name="password" value=""></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><button>登录</button></td>
			</tr>
		</table>
	</form>
	<div>
        <span class="errorMsg">$!{msg}</span>
    </div>
</body>
</html>