<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyscharlie.biz.core.area.dao.AreaDao">

	<resultMap type="com.lyscharlie.biz.core.area.domain.AreaDO" id="areaMap">
		<id property="areaId" column="area_id" />
		<result property="areaName" column="area_name" />
		<result property="areaLevel" column="area_level" />
		<result property="areaInfo" column="area_info" />
		<result property="parentId" column="parent_id" />
		<result property="status" column="status" />
	</resultMap>

	<sql id="selectFields">
		area_id,
		area_name,
		area_level,
		area_info,
		parent_id,
		status
	</sql>

	<select id="selectAll" resultMap="areaMap">
		SELECT
			<include refid="selectFields"/>
		FROM
			lys_area
		WHERE
			status = 1
	</select>
	
	<select id="selectList" parameterType="com.lyscharlie.biz.core.area.bo.AreaQueryBO" resultMap="areaMap">
		SELECT
			<include refid="selectFields"/>
		FROM
			lys_area
		<where>
			<if test="areaId != null">
				area_id = #{areaId}
			</if>
			<if test="areaName != null">
				area_name = #{areaName}
			</if>
			<if test="areaLevel != null">
				area_level = #{areaLevel}
			</if>
			<if test="areaInfo != null">
				area_info = #{areaInfo}
			</if>
			<if test="parentId != null">
				parent_id = #{parentId}
			</if>
		</where>
	</select>
	
	<select id="selectById" parameterType="java.lang.Long" resultMap="areaMap">
		SELECT
			<include refid="selectFields"/>
		FROM
			lys_area
		WHERE
			area_id = #{areaId}
	</select>

</mapper>