<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyscharlie.biz.core.user.dao.UserDao">

	<resultMap type="com.lyscharlie.biz.core.user.domain.UserDO" id="userMap">
		<id property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="mobile" column="mobile" />
		<result property="registerReferId" column="register_refer_id" />
		<result property="lastLoginTime" column="last_login_time" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
	</resultMap>

	<sql id="selectFields">
		user_id,
		user_name,
		password,
		email,
		mobile,
		register_refer_id,
		last_login_time,
		gmt_create,
		gmt_modified
	</sql>

	<insert id="insertUser" parameterType="com.lyscharlie.biz.core.user.domain.UserDO" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO lys_user(
			<include refid="selectFields"/>
		)VALUES(
			NULL,
			#{userName},
			#{password},
			#{email},
			#{mobile},
			#{registerReferId},
			NOW(),
			NOW(),
			NOW()
		)
	</insert>
	
	<select id="selectUserById" parameterType="java.lang.Long" resultMap="userMap">
		SELECT
			<include refid="selectFields"/>
		FROM
			lys_user
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="selectUserByName" parameterType="java.lang.String" resultMap="userMap">
		SELECT
			<include refid="selectFields"/>
		FROM
			lys_user
		WHERE
			user_name = #{userName}
	</select>
	
	<select id="selectCountUserByName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			lys_user
		WHERE
			user_name = #{userName}
	</select>
	
	<select id="selectCountUserByEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			lys_user
		WHERE
			email = #{email}
	</select>
	
	<update id="updateUser" parameterType="com.lyscharlie.biz.core.user.domain.UserDO">
		UPDATE
			lys_user
		SET
			email = #{email},
			mobile = #{mobile},
			gmt_modified = NOW()
		WHERE
			user_id = #{userId}
	</update>
	
	<update id="updateLastLoginTime" parameterType="java.lang.Long">
		UPDATE
			lys_user
		SET
			last_login_time = NOW(),
			gmt_modified = NOW()
		WHERE
			user_id = #{userId}
	</update>
	
	<update id="updatePassword">
		UPDATE
			lys_user
		SET
			password = #{password},
			gmt_modified = NOW()
		WHERE
			user_id = #{userId}
	</update>
	

</mapper>